# dependencies
node_modules/

# next.js build
.next/
out/

# build output
build/

# logs
*.log

# environment variables
.env.local
.env.development.local
.env.test.local
.env.production.local

# vercel config
.vercel/

# typescript
*.tsbuildinfo
